* {
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: #1b1f21;
    /* border: solid 1px black; */
}

main {
    display: flex;
    justify-content: space-around;
}

/* contacts section */

menu {
    display: flex;
    justify-content: flex-start;
    border-right: solid 0.1rem #bec1bb;
    font-family: "Open Sans", sans-serif;
}

/* user */

.contacts {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

.user {
    display: flex;
    width: 100%;
    border-bottom: solid 0.1rem #bec1bb;
}

.user:hover {
    background-color: #d4dcff;
}

.user_status {
    display: flex;
    padding: 1rem;
}

.user_status img {
    height: 2.5rem;
    border-radius: 50%;
    border:solid 0.1rem #bec1bb;
}

#maria_img {
    height: 2rem;
}

.user_info {
    display: flex;
    margin-left: 1rem;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.user_info h2 {
    font-size: 14px;
    margin-bottom: 0.05rem;
}

.user_info p {
    font-size: 10px;
    color: #828485;
}

.user_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6rem;
}

.fa-regular {
    padding-right: 0.7rem;
    color: #bec1bb;
}

.fa-solid {
    color: #bec1bb;
}

/* new chat */

.button {
    border-bottom: solid 0.1rem #bec1bb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 10rem;
    margin: 3rem 0rem;
    background-color: #a491d2;
}

.new_chat p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.new_chat:hover {
    background-color: #cdc3e6;
    cursor: crosshair;
}

/* main section */

.right_column {
    background-color: #e8ebe4;
    flex-basis: 75%;
    min-height: 100vh;
}

.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.main_section h1 {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    margin-top: 1rem;
}

.main_section p {
    font-family: "Open Sans", sans-serif;
    margin-top: 0.3rem;
}

.main_section img {
    height: 15rem;
}